<a href="https://colab.research.google.com/github/stephenindia1/Python-Faker/blob/main/Colab_Pandas_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Age': [25, 30, np.nan, 22, 28, 45, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'New York', 'Los Angeles', np.nan],
    'Salary': [70000, 90000, 60000, 55000, 80000, 120000, 90000]
 }
df = pd.DataFrame(data)
print(df)  # Prints the dataframe

      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie   NaN      Chicago   60000
3    David  22.0     New York   55000
4      Eve  28.0     New York   80000
5    Frank  45.0  Los Angeles  120000
6    Grace  30.0          NaN   90000

In [10]:
# Prints the first 3 rows of the dataframe
print(df.head(3))

      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie   NaN      Chicago   60000

In [12]:
# Saves the dataframe to csv file
df.to_csv('cleaned_employee_data.csv', index=False)

In [15]:
# Read data from csv file
print(pd.read_csv('cleaned_employee_data.csv'))

      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie   NaN      Chicago   60000
3    David  22.0     New York   55000
4      Eve  28.0     New York   80000
5    Frank  45.0  Los Angeles  120000
6    Grace  30.0          NaN   90000

In [16]:
# Get a summary of the DataFrame structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     6 non-null      float64
 2   City    6 non-null      object
 3   Salary  7 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 356.0+ bytes

In [17]:
# Get statistics for numerical columns (Age and Salary)
print(df.describe())

             Age         Salary
count   6.000000       7.000000
mean   30.000000   80714.285714
std     7.974961   22065.918560
min    22.000000   55000.000000
25%    25.750000   65000.000000
50%    29.000000   80000.000000
75%    30.000000   90000.000000
max    45.000000  120000.000000

In [24]:
# loc[] and iloc[] are the primary methods for slicing and dicing your DataFrame.

# Select the 'City' and 'Salary' for the row where the label (index) is 0
print("Select the 'City' and 'Salary' for the row where the label (index) is 0 \n")
print(df.loc[0, ['City', 'Salary']])

# Select the value at the first row (position 0), second column (position 1, which is Age)
print(" \nSelect the value at the first row (position 0), second column (position 1, which is Age)")
print(df.iloc[0, 1])

Select the 'City' and 'Salary' for the row where the label (index) is 0

City      New York
Salary       70000
Name: 0, dtype: object

Select the value at the first row (position 0), second column (position 1, which is Age)
25.0

In [27]:
# Filtering data based on conditions is perhaps the most common operation.

# Filter for all employees in New York with a salary over 60,000
print("\nFilter for all employees in New York with a salary over 60,000")
high_earners_ny = df[(df['City'] == 'New York') & (df['Salary'] > 60000)]
print(high_earners_ny)

Filter for all employees in New York with a salary over 60,000
    Name   Age      City  Salary
0  Alice  25.0  New York   70000
4    Eve  28.0  New York   80000

In [28]:
print(".isnull() / .isna() Identifies where data is missing \n")
# Count total missing values per column
print(df.isnull().sum())

.isnull() / .isna() Identifies where data is missing

Name      0
Age       1
City      1
Salary    0
dtype: int64

In [45]:
print("Note: .fillna() - Replaces missing values, often with a calculated value like the mean or a placeholder string\n\n")

# Fill missing 'Age' values with the average age (inplace), this will change in Pandas 3.0
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

Note: .fillna() - Replaces missing values, often with a calculated value like the mean or a placeholder string


      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie  30.0      Chicago   60000
3    David  22.0     New York   55000
4      Eve  28.0     New York   80000
5    Frank  45.0  Los Angeles  120000
6    Grace  30.0          NaN   90000

/tmp/ipython-input-4194457872.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [49]:
# Fill missing 'City' values with a placeholder, you can see that row 6 City is replaced with 'Unknown' for missing value
df['City'].fillna('Unknown', inplace=True)
print(df)

      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie  30.0      Chicago   60000
3    David  22.0     New York   55000
4      Eve  28.0     New York   80000
5    Frank  45.0  Los Angeles  120000
6    Grace  30.0      Unknown   90000

In [56]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Age': [25, 30, np.nan, 22, 28, 45, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'New York', 'Los Angeles', np.nan],
    'Salary': [70000, 90000, 60000, 55000, 80000, 120000, 90000]
 }
df = pd.DataFrame(data)
print(df)  # Prints the dataframe
print("\n")

#removes fill Age missing value with the average age (inline)
df['Age'].fillna(df['Age'].mean(), inplace=True)

# .dropna() - Remove any row that still has a missing value after fillna attempts

df_cleaned = df.dropna(how='any')
# record of 'Grace' dropped due to missing value
print(df_cleaned)

      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie   NaN      Chicago   60000
3    David  22.0     New York   55000
4      Eve  28.0     New York   80000
5    Frank  45.0  Los Angeles  120000
6    Grace  30.0          NaN   90000


      Name   Age         City  Salary
0    Alice  25.0     New York   70000
1      Bob  30.0  Los Angeles   90000
2  Charlie  30.0      Chicago   60000
3    David  22.0     New York   55000
4      Eve  28.0     New York   80000
5    Frank  45.0  Los Angeles  120000

/tmp/ipython-input-3476156757.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [57]:
# .drop() = Removes specific data points you don't need.

# Create a new DataFrame without the 'Name' column
df_no_names = df.drop(columns=['Name'])

print(df_no_names)

    Age         City  Salary
0  25.0     New York   70000
1  30.0  Los Angeles   90000
2  30.0      Chicago   60000
3  22.0     New York   55000
4  28.0     New York   80000
5  45.0  Los Angeles  120000
6  30.0          NaN   90000

In [61]:
# .groupby() - is the backbone of data aggregation. It lets you answer questions like "What is the average salary by city?".

# Calculate the average salary for each city
average_salaries = df.groupby('City')['Salary'].mean().round(2)   # mean value rounded to 2 decimal places

## groupby operation in pandas, rows with missing values (NaN) in the column(s) used for grouping are excluded from the grouping process.
print(average_salaries)

City
Chicago         60000.00
Los Angeles    105000.00
New York        68333.33
Name: Salary, dtype: float64

In [62]:
# .sort_values() - Orders your data for better presentation or analysis
# Sort the data first by Age (ascending) then by Salary (descending)
df_sorted = df.sort_values(by=['Age', 'Salary'], ascending=[True, False])
print(df_sorted.head())

    Name   Age         City  Salary
3  David  22.0     New York   55000
0  Alice  25.0     New York   70000
4    Eve  28.0     New York   80000
1    Bob  30.0  Los Angeles   90000
6  Grace  30.0          NaN   90000

In [63]:
# .value_counts() - Ideal for understanding the distribution of categorical data

# Count how many people live in each city
city_counts = df['City'].value_counts()
print(city_counts)

City
New York       3
Los Angeles    2
Chicago        1
Name: count, dtype: int64

In [67]:
# .merge() / pd.concat() - Used to combine multiple DataFrames into a single, comprehensive dataset

data01 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'New York', 'Los Angeles', np.nan],
    'Salary': [70000, 90000, 60000, 55000, 80000, 120000, 90000]
 }
df_a = pd.DataFrame(data01)
data02 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Age': [25, 30, np.nan, 22, 28, 45, 30]
 }
df_b = pd.DataFrame(data02)
# Example of merging two dataframes (where df_a and df_b has a 'Name' column to join on)
pd.merge(df_a, df_b, on='Name', how='inner')

      Name         City  Salary   Age
0    Alice     New York   70000  25.0
1      Bob  Los Angeles   90000  30.0
2  Charlie      Chicago   60000   NaN
3    David     New York   55000  22.0
4      Eve     New York   80000  28.0
5    Frank  Los Angeles  120000  45.0
6    Grace          NaN   90000  30.0